pyfiglet
aiofiles
aiohttp==3.9.3
asyncio==3.4.3
apscheduler
beautifulsoup4
blackpink
bard
deepai
dnspython==2.3.0
dateparser==1.2.0
emojis
ffmpeg-python
Faker
gpytranslate
gitpython
git+https://github.com/AsmSafone/SafoneAPI
gtts
hachoir
heroku3
httpx==0.25.2
lexica-api==1.4.7
motor==3.3.2
mpv
ntgcalls==1.1.2
openai==0.28.0
opencv-python-headless==4.9.0.80
py-tgcalls==1.2.9
pykeyboard
pyshorteners
pyrogram==2.0.106
python-dotenv
phonenumbers
pyyaml==6.0.1
pornhub-api==0.2.0
pytube
pydub
pycountry
pillow==9.5.0
psutil
pytz
qrcode
requests
speedtest-cli
spotipy
telethon==1.33.1
tgcrypto
telegraph==2.2.0
unidecode
wget
yt-dlp
youtube_search
